@media (max-width:1900px){
          #second_home_nav {
          width: 100% !important;
      }
      #hero .hero_container {
      width: 100% !important;
  }
}
@media (max-width:1199px){
    #blog_news .blog_box_parent .blog_box .img_part .overly_part{
        width: 90%;
    }
      #second_home_nav {
      width: 100% !important;
  }

  #hero .hero_container {
      width: 100% !important;
  }
    #hero .hero_container .tktk .right_side .heading_part{
        padding: 20px;
    }
    #hero .hero_container .tktk .right_side .heading_part h4 {
      font-size: 40px !important;
  }
  #hero .hero_container .tktk .left_part .email {
   height: 100px;
   left: -185px;
  }
  #hero .hero_container .tktk .left_part .number {
   height: 100px;
   left: -140px;
   bottom: 140px;
  }
     #our_teams .our_teams_box .child_box {
        width: calc(50% - 30px);
     }
     #home_services .home_service_box .child_box {
    width: calc(50% - 30px);
}
}
@media (max-width:1024px){
    #service .service_box .service_box_child {
        width: 100% !important;
        flex-wrap: wrap;
        height: auto !important;
    }
      #second_home_nav {
      width: 100% !important;
  }

  #hero .hero_container {
      width: 100% !important;
  }
  #hero .hero_container .tktk{
    position: relative;
  }
  #hero .hero_container .tktk .left_part{
      display: none;
    }
     #home_about .container .left_side img:nth-child(2) {
        display: none;
     }
    #hero .hero_container .tktk .right_side{
        width: 100% !important;
    }
  
  #nav_bar .menu_iteam{
    display: none;
  }
}
@media (min-width:998px){
    #navigation .mobile_device{
        display: none;
    }
}
@media (max-width:998px) {
    #navigation .menu_iteam{
        display: none !important;
    }
    #navigation .nav_btn{
        display: none !important;
    }
    #second_home_nav .right_side .menu_iteam{
        display: none !important;
    }
    #second_home_nav {
        width: 100% !important;
    }
    #hero .hero_container{
        width: 100% !important;
    }
     #hero .hero_container .tktk{
        /* background-color: transparent !important; */
        z-index: -1;
     }
     #hero .hero_container .tktk .right_side img{
        z-index: 100;
     }
     #hero .hero_container .tktk .right_side{
        width: 100%;
        padding: 10px;
     }
     #hero .hero_container .tktk .right_side .heading_part {
        width: 100%;
        /* background-color: transparent !important; */
     }
    h2{
        font-size: 48px !important;
    }
    #review .review_content .left-arrow {
        display: none;
        visibility: hidden;
    }
    #review .review_content .right-arrow{
        display: none;
        visibility: hidden;
    }
    #subscribe .right {
        margin-top: 40px !important;
    }
    #footer {
        margin-top: 300px;
    }
    #footer .container .contanct_part{
        top: -200px;
    }
    #footer .container .contanct_part .part_one {
        margin:20px 0px ;
    }
    #footer .container .row ul {
        margin: 20px 0px;
    }
    #home_slider .slider_parent .slider_child {
    justify-content: center !important;
}

#home_slider .slider_parent .slider_child .col-lg-8 {
    float: none;
}

#home_slider .slider_parent .slider_child .col-lg-3 {
    float: none;
}
  /* #home_blog_news .parent_box .box .left_contains {
    align-items: center;
  }
  #home_blog_news .parent_box .box .center_contains {
    align-items: center;
  } */
  #home_blog_news .parent_box .box{
    gap: 20px;
  }
  #home_blog_news .parent_box .box .right_contains {
      align-items:flex-start;
    }
    #home_blog_news .parent_box .box .right_contains span{
        width: 100% !important;
        
        
    }
    #home_blog_news .parent_box .box .right_contains span img{
        object-fit: cover;
    }
    #home_blog_news .parent_box .box .left_contains{
        width: 100%;
    }
    #home_blog_news .parent_box .box .center_contains{
        width: 100%;
    }
    #home_blog_news .parent_box .box .right_contains{
        width: 100%;
    }
    #general_service .row .right_side {
    padding-left: 0px;
    }
     .information_contains {
        gap: 30px;
     }
     #blog_page .container .right_part .latest_blog .box .text_part h6 {
    font-size: 20px !important;
}
}

/*============= Tablet (768px-1024px)==================== */
@media (min-width:768px) and (max-width: 1024px) {
    h1 {
        font-size: 24px !important;
    }
    h2{
        font-size: 58px !important;
    }
    h4{
        font-size: 48px !important;
    }
    h6{
        font-size: 34px !important;
    }
    p{
        font-size: 14px !important;
    }
    #blog_news .blog_box_parent .blog_box {
        width: 100%;
        height: auto;
    }
        .images .img span {
        width      : 80px;
        height     : 80px;
        font-size  : 40px;
        line-height: 80px;
        text-align : center;
    }
    #box .heading_part h4{
        font-size: 30px !important;
    }
    .experts_person {
        justify-content: center !important;
    }
     #our_teams .our_teams_box .child_box {
     width: 100%;
 }
 #home_services .home_service_box .child_box {
    width: 100%;
}


#home_slider .slider_parent .slider_child .col-lg-3 img:nth-child(1){
    float: none;
}
#home_slider .slider_parent .right-arrow{
    bottom: 10px;
}
#home_slider .slider_parent .left-arrow{
    bottom: 10px;
}
#service_details .container .contains{
    text-align: center;
    gap: 30px;
}
#service_details .container .contains .right_side {
    text-align: center;
}
 #general_service .row {
     gap: 100px !important;
 }
 #blog_page .container .right_part .latest_blog .box .text_part h6 {
    font-size: 20px !important;
}

}

/*================== Mobile (Max 767px)=========== */
@media (max-width: 767px) {
    h1 {
        font-size: 18px !important;
    }
    h2 {
    font-size: 30px !important;
    }
    h4 {
    font-size: 24px !important;
}
    h6 {
    font-size: 30px !important;
}
    p{

        font-size: 12px !important;
    }
    #navigation .container{
        width: 100% !important;
    }
    #hero_section .hero_section_img .overly_box {
        font-size: 10px !important;
        padding: 20px;
        bottom: 10px;
        left: 14px;
        
        
    }
    #hero_section .hero_section_img .overly_box span{
        font-size: 25px;
    }
    #box .parent_box {
        justify-content: center;
    }
      #gallery .overly_content_text {
        display: none;
      }
    #review{
        padding-bottom: 0px;
    }
    #review .review_box {
        width: 100% !important;
        margin-bottom: 100px;
    }
    .images .img span {
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
    }
  #blog_news .blog_box_parent .blog_box {
     width : 100%;
     height: auto;
 }
 .experts_person {
    justify-content: center !important;
}
#footer{
    width: 100% !important;
    /* overflow-x: hidden; */
    /* overflow-y:hidden ; */
}
#footer .container .footer_last .right {
    justify-content: flex-start !important;
}

#our_teams .our_teams_box .child_box {
    width: 100%;
}
#home_services .home_service_box .child_box {
    width: 100%;
}
  #home_slider .slider_parent .left-arrow {
    display: none;
  }
  #home_slider .slider_parent .right-arrow {
    display: none;
  }
    #service_details .container .contains {
        text-align: center;
        gap: 30px;
        
    }
    #service_details .container .contains .right_side {
    text-align: center;
}
 #general_service .row {
     gap: 100px !important;
 }

  #blog_page .container .meta-info span {
    font-size: 12px;
}
  /* #blog_page .container .meta-info .date {
    font-size: 15px !important;
} */
#blog_page .container .right_part .latest_blog .box .text_part h6 {
    font-size: 20px !important;
}
}

