/* COMMOON CSS */
@import "mixin";
@import "variables";
@import "./partials/animation";
@import "./pages/home-one.scss";
@import "./pages/home-tow.scss";
@import "./button";
@import "./partials/comment";
@import "./partials/header";
@import "./partials/heading";
@import "./pages/blog";
@import "./pages/contact";
@import "./pages/project";
@import "./partials/popvideo";
@import "./partials/menu-sidebar";
@import "./partials/footer";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    margin-top: 150px;
}
a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}
.text-right{
    text-align: right !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
p{
    font-family: $--second-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: $--eight;
}

.button_all{
    width: 100%;
    .commn_btn{
margin-top: 20px;
border: none;
@include border-radius(none);
text-transform: uppercase;

a{
    color: $--nine;
    display: block;
padding: 5px;
width: 173px;
height: 50px;
background-color: $--secondary;
font-family: $--font-family;
font-weight: 400;
font-size: 15px;
line-height: 40px;

}
span{
    margin-left: 8px;
}
span i{
    transform: rotate(45deg) !important;
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    @include transition(0.5s);
}
&:hover a{
    background-color: transparent;
    border: 1px solid $--tow;
    @include transition(0.5s);
    span i{
            transform: rotate(0deg) !important;
            -webkit-transform: rotate(0deg) !important;
            -moz-transform: rotate(0deg) !important;
            -ms-transform: rotate(0deg) !important;
            -o-transform: rotate(0deg) !important;
}
}
            }
}

.home_heading{
    justify-content: center !important;
    height: 100%;
}

// .heading_area{
//     // @include flex(column, center, flex-start);
//     // flex-wrap: wrap;
 
//     // .sub_heading{
//     //     width: 100%;
//     //     margin-bottom: 20px;

//     //     h5{
//     //         border: 1px solid $--tow;
//     //         padding: 10px 15px;
//     //         font-family: $--font-family;
//     //         font-weight: 500;
//     //         font-size: 15px;
//     //         line-height: 147%;
//     //         text-transform: uppercase;
//     //         color: $--primary;
//     //         display: inline;
//     //     }
//     // }
//         // h4{
//         //     font-family: $--font-family;
//         //     font-weight: 400;
//         //     font-size: 55px;
//         //     line-height: 127%;
//         //     color: $--nine;
//         //     width: 100%;
//         //     margin-bottom: 20px;
//         // }
// }


/* COMMOON CSS END */

// =======================================


// ======================================






// #footer{
//     margin-top: 247px;
//     min-height: 537px;
//     max-height: auto;
//     background-color: $--nine;
//     .container{
//         position: relative;
//         .contanct_part{
//             padding:60px;
//             width: 100%;
//             position:absolute;
//             top: -90px;
//             left: 0px;
//             @include flex(row, space-between, center);
//             flex-wrap: wrap;
//             background-color: $--seven;
//             .part_one{
//                 &:hover {
//                     span{
//                            animation: tada 1s linear infinite;
//                            -webkit-animation: tada 1s linear infinite;
// }
//                 }
//                 @include flex(row, flex-start, center);
//                 gap: 20px;
//                 .icon{
//                     span{
//                             width: 65px ;
//                             height: 65px;
//                             background-color: $--primary;
//                             color: $--white;
//                             text-align: center;
//                             line-height: 65px;
//                             display: block;
//                             font-size: 30px;
// }
//                 }
//                 .text{
//                     h5{
//                         font-family: $--font-family;
//                         font-weight: 400;
//                         font-size: 20px;
//                         line-height: 150%;
//                         color: $--white;
//                     }
//                     p{
//                         font-family: $--font-family;
//                         font-weight: 400;
//                         font-size: 16px;
//                         line-height: 162%;
//                         color: $--white;
//                     }
//                 }
//             }
//         }
//        min-height: 537px;
//        max-height: auto;
//         @include flex(column, flex-start, center);
//         gap:50px;
//         padding-bottom: 30px;

//         .bg_img{
//             position: absolute;
//             bottom: 0;
//             left: -24%;
//             img{
//                 width: 100%;
//                 object-fit: contain;
//                 overflow: hidden;
//             }
//         }
//         .row{
//             padding:30px 0px;
//             margin-top: 300px;
            
//             ul{
//                 margin: 0px;
//                 padding: 0px;
//                 @include flex(column, center, flex-start);
//                 gap: 30px;
//                 li{
//                     width: 100%;

//                     img{
//                         width: fit-content;
//                         height: 100%;
//                         object-fit: contain;
//                     }
//                     h5{
//                         font-family: $--font-family;
//                         font-weight: 400;
//                         font-size: 20px;
//                         line-height: 150%;
//                         color: $--white;
//                     }
//                     p{
//                         font-family: $--font-family;
//                         font-weight: 400;
//                         font-size: 16px;
//                         line-height: 162%;
//                         color: $--white;
//                         opacity: 0.9;
//                     }
//                     a{
//                         font-family: $--font-family;
//                         font-weight: 400;
//                         font-size: 16px;
//                         line-height: 162%;
//                         color: $--white;
//                         opacity: 0.9;
//                     }
//                     &:hover a{
//                         margin-left: 5px;
//                         @include transition(.3s);
//                         color: $--primary;
//                     }
//                     .social_media_icon{
//                         margin: 0px;
//                         padding: 0px;
//                         @include flex(row, flex-start, center);
//                         gap: 10px;
//                         li{
//                             width: fit-content;
//                             a{
//                                 width:40px;
//                                 height: 40px;
//                                 border: 1px solid $--tow;
//                                 color: $--tow;
//                                 display: block;
//                                 text-align: center;
//                                 line-height: 40px;
//                                 @include transition(0.4s);
//                                 &:hover{
//                                     background-color: $--primary;
//                                     border: none;
//                                     color: $--white;
//                                 }
//                             }
//                         }
//                     }
//                     input{
//                         // padding: 0px 10px;
//                         border: none;
//                         outline: none;
//                         width: 80%;
//                         padding: 10px;
//                         background-color: transparent;
                        
//                     }
//                 }
//                 li.email_sent{
//                     width: 312px;
//                     height: 66px;
//                     border: 1px solid $--eight;
//                     @include flex(row, space-between, center);
//                     span{
//                         width: 20%;
//                         // height: 0%;
//                         // background-color: $--primary;
//                         a{

//                             width: 45px;
//                             height: 45px;
//                             color: $--white;
//                             text-align: center !important;
//                             display: block;
//                             line-height: 45px;
//                             background-color: $--primary;

//                         }
//                     }


//                 }
//             }
            
//         }
//         .footer_last{
//             @include flex(row, space-between, flex-end);
//             flex-wrap: wrap;
//             height: 44px;
//             border-top: 2px solid $--seven;
//             width: 100%;
//             a{
//                 font-family: $--font-family;
//                 font-weight: 400;
//                 font-size: 16px;
//                 line-height: 150%;
//                 color: $--white;
//                 opacity: 0.8;
//                 @include transition(0.4s);
//                 &:hover{
//                     color: $--primary;
//                     margin-bottom: 5px;
//                 }
//             }
//             .right{
//                 @include flex(row, flex-end, center);
//                 flex-wrap: wrap;
//                 gap: 40px;

//             }
//         }
//     }
// }




/*=================,,,,,,,,,SECOND HOME START ,,,,,,,,,=======================*/


/*=================,,,,,,,,,SECOND HOME END,,,,,,,,, =======================*/
.off_canvas{
    ul{
        li{
            &:hover > a{
                color: $--secondary !important;
            }
            ul{
                li{
                    &:hover > a{
                        color: $--secondary !important;
                    }
                }
            }
        }
    }
}




/*=================,,,,,,,,,SERVICE DETAILS START,,,,,,,,, =======================*/


/*=================NAV AND BANNER START =======================*/

#service_details{
    margin: 0 !important;
    background-color: #ddd;
    .container{
        // padding: 0;
        padding-left: 0;
        padding-right: 0;
            .contains{
                @include flex(row, space-between, center);
                padding: 70px 0px;
                flex-wrap: wrap;
                .right_side{
                    text-align: right;
                }
                h2{
                    font-family: $--font-family;
                    font-weight: 400;
                    font-size: 55px;
                    line-height: 127%;
                    color: $--nine;
                }
                img{
                    width: fit-content;
                    height: fit-content;
                    object-fit: contain;
                }

            }
    }
}

// #nav_bar{
//     position: sticky;
//     top: 0px;
//     height: 92px; 
//     @include flex(0, center, center);
//     .container{ 
//         background-color: $--white;
//         padding: 0 30px;
//         height: 92px;
//          .logo{
//         width: fit-content;
//         img{
//             width: 100%;
//             height: 100%;
//             object-fit: contain;

//         }
//     }
//         @include flex(row, space-between, center);
//         .main_menu{
//         ul{
//             @include flex(row, flex-end, center);
//             gap: 24px;
//             margin: 0;

//             li {
//     position: relative;

//     &:hover > a {
//         color: $--secondary;
//     }

//     &:hover {
//         ul {
//             visibility: visible;
//             opacity: 1;
//             transform: scaleY(1);
//             transition-delay: 0.2s; // Show er age ekto delay
//         }
//     }

//     a {
//         font-family: $--font-family;
//         font-weight: 400;
//         font-size: 15px;
//         line-height: 147%;
//         text-transform: uppercase;
//         color: $--nine;
//     }

//     ul {
//         @include flex(column, center, center);
//         position: absolute;
//         background: $--white;
//         top: 55px;
//         left: -20px;
//         padding: 5px 10px;
//         width: 150px;
//         gap: 5px;
//         visibility: hidden;
//         opacity: 0;
//         transform: scaleY(0);
//         transform-origin: top;
//         @include border-radius(5px);
//         transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;

//         li {
//             width: 100%;

//             &:hover a {
//                 color: $--secondary;
//             }
//         }
//     }

//     &:not(:hover) ul {
//         transition-delay: 0.2s; 
//     }
// }

//         }
//     }
//     .btn_wrapper{
//         @include flex(row, flex-end, center);
//         span{
//             width: 52px ;
//             height: 52px;
//             background-color: $--primary;
//             display: block;
//             text-align: center;
//             line-height: 52px;
//             color:$--white ;
//             cursor: pointer;
//         }
//     }
//     }
// }
/*=================NAV AND BANNER END =======================*/

/*=================GENERAL SERVICE START =======================*/
#general_service{
    margin-top: 150px;
    .general_service_wrapper{
         @include md{
                justify-content: flex-start;
                gap: 50px;
            }
            @include sm {
                gap: 50px;
            }
        @include flex(row, center, flex-start);
        flex-wrap: wrap;

        .meain_contains{
            @include nesthub{
                padding-right: 20px;
            }
            &:nth-child(2){
                margin-top: 80px;
            }
            @include flex(column, center, flex-start);
            gap: 45px;
          .contains_title{
            @include flex(column, center, flex-start);
            gap: 40px;
              h4{
                @include sm{
                    font-size: 30px;
                }
                  @include nesthub{
                font-size: 48px;
            }
                font-family: $--font-family;
                font-weight: 400;
                font-size: 55px;
                line-height: 127%;
                color: $--nine;
                span{
                    font-weight: 300;
                    
                }
            }
            p{
                font-family: $--second-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: $--eight;
                  @include nesthub{
                padding-right:55px;
            }
            }
            b{
                font-family: $--font-family;
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                color: $--nine;
                @include xs{
                    font-size: 16px;
                }
            }
            ul{
                padding: 0;
                @include flex(column, center, flex-start);
                li a{
                    @include sm{
                        font-size: 18px;
                    }
                    @include xs{
                        font-size: 16px;
                    }
                    font-family: $--font-family;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 150%;
                    color: $--nine;
                    &:hover{
                        color: $--primary;
                        @include transition(0.4s);
                    }
                    span{
                        margin-right: 5px;
                        font-size: 12px;
                        opacity: 0.8;
                    }
                    &:hover{
                        margin-left: 8px;
                    }
                }
                li{
                    span{
                        margin-right: 5px;
                    }
                }
            }
            .list_iteam{
                @include flex(row, space-between, center);
                flex-wrap: wrap;
            }
          }
          .contains_box{
            margin-top: 60px;
            border: 1px solid $--tow;
            padding: 80px 40px 45px 40px;
            position: relative;
            @include flex(column, center, flex-start);
            gap: 30px;
            &:hover{
                img{
                    animation: tada 1s linear infinite;
                }
            }
            h4{
                font-family: $--font-family;
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                color: $--nine;
            }
            p{
                font-family: $--second-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: $--eight;
            }
            img{
                width: fit-content;
                height: fit-content;
                padding: 17px;
                background-color: $--one;
                position: absolute;
                top: -40px;
                left: 40px;
            }
          }
          .summery{
            @include flex(column, center, flex-start);
            gap: 40px;
            p{
                font-family: $--second-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: $--eight;
            }
          }
        }
        .sidebar_contains{
             
            padding: 0px;
            padding-left: 30px;
            @include sm{
                padding: 0px;
            }
            @include nesthub{
                padding: 0px;
                width: 100%;
            }
            @include flex(column, flex-start, flex-end);
            .phn{
                background-color: $--primary;
                padding: 85px;
                @include sm{
                    width: 100%;
                    height: 300px;
                    padding: 0px;
                }
                @include flex(column, center, center);
                width: 100%;
                gap: 20px;
                @include transition(0.4s);
                &:hover{
                    span{
                        animation: tada 1s linear infinite;
                    }
                }
            span{
                    width: 88px;
                    height: 88px;
                    display: block;
                    text-align: center;
                    line-height: 88px;
                    @include border-radius(50%);
                    background-color: #ffffff3a;
                    color: $--white;
                    font-size: 30px;

                }
                a{
                    font-family: $--font-family;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 133%;
                    text-align: center;
                    color:$--white;
                }
                p{
                    font-family: $--font-family;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 150%;
                    text-align: center;
                    color: $--white;
                    // margin-top: 8px;
                }
            }
            .service_list{
                margin-top: 60px ;
                @include flex(column, center, flex-start);
                gap: 20px;
                width: 100%;
                h3{
                    font-family: $--font-family;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 133%;
                    color: $--nine;
                }
                ul{
                    width: 100%;
                    margin: 0px;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    li{
                        padding:22px 20px;
                        background-color: $--white;
                        border: 1px solid $--tow;
                        a{
                            
                        @include flex(row, space-between, center);
                            font-family: $--font-family;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 150%;
                            color: $--nine;
                        }
                        &:hover{
                            background-color: $--secondary;
                            @include transition(0.4s);
                        }
                    }
                }
            }
        }
    }
}
/*=================GENERAL SERVICE END =======================*/

/*=================,,,,,,,,,SERVICE DETAILS END,,,,,,,,, =======================*/

/*=================,,,,,,,,,Project DETAILS start,,,,,,,,, =======================*/

/*=================,,,,,,,,,Project DETAILS END,,,,,,,,, =======================*/


/*=================,,,,,,,,,Blog page start,,,,,,,,, =======================*/

/*=================,,,,,,,,,Blog page END,,,,,,,,, =======================*/





