/* COMMOON CSS */
@import "mixin";
@import "variables";
@import "./partials/animation";
@import "./pages/home-one.scss";
@import "./pages/home-tow.scss";
@import "./button";
@import "./partials/comment";
@import "./partials/header";
@import "./partials/heading";
@import "./pages/blog";
@import "./pages/contact";
@import "./pages/project";
@import "./partials/popvideo";
@import "./partials/menu-sidebar";
@import "./partials/footer";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    margin-top: 150px;
}
a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}
.text-right{
    text-align: right !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
p{
    font-family: $--second-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: $--eight;
}

.button_all{
    width: 100%;
    .commn_btn{
margin-top: 20px;
border: none;
@include border-radius(none);
text-transform: uppercase;

a{
    color: $--nine;
    display: block;
padding: 5px;
width: 173px;
height: 50px;
background-color: $--secondary;
font-family: $--font-family;
font-weight: 400;
font-size: 15px;
line-height: 40px;

}
span{
    margin-left: 8px;
}
span i{
    transform: rotate(45deg) !important;
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    @include transition(0.5s);
}
&:hover a{
    background-color: transparent;
    border: 1px solid $--tow;
    @include transition(0.5s);
    span i{
            transform: rotate(0deg) !important;
            -webkit-transform: rotate(0deg) !important;
            -moz-transform: rotate(0deg) !important;
            -ms-transform: rotate(0deg) !important;
            -o-transform: rotate(0deg) !important;
}
}
            }
}

.home_heading{
    justify-content: center !important;
    height: 100%;
}








/*========NAV AND BANNER START ========*/

#service_details{
    margin: 0 !important;
    background-color: #ddd;
    .container{
        padding-left: 0;
        padding-right: 0;
            .contains{
                @include flex(row, space-between, center);
                @include nesthub{
                    justify-content: center;
                }
                @include sm{
                    justify-content: center;
                    
                }
                padding: 70px 0px;
                flex-wrap: wrap;
                .right_side{
                    @include sm{
                        text-align: center;
                    }
                    @include md{
                        text-align: center;
                    }
                    @include nesthub{
                        text-align: center;
                    }
                    
                    text-align: right;
                }
                h2{
                    font-family: $--font-family;
                    font-weight: 400;
                    font-size: 55px;
                    line-height: 127%;
                    color: $--nine;
                }
                img{
                    width: fit-content;
                    height: fit-content;
                    object-fit: contain;
                }

            }
    }
}


/*===========GENERAL SERVICE START ============*/
#general_service{
    margin-top: 150px;
    .general_service_wrapper{
         @include md{
                justify-content: flex-start;
                gap: 50px;
            }
            @include sm {
                gap: 50px;
            }
        @include flex(row, center, flex-start);
        flex-wrap: wrap;

        .meain_contains{
            @include nesthub{
                padding-right: 20px;
            }
            &:nth-child(2){
                margin-top: 80px;
            }
            @include flex(column, center, flex-start);
            gap: 45px;
          .contains_title{
            @include flex(column, center, flex-start);
            gap: 40px;
              h4{
                @include sm{
                    font-size: 30px;
                }
                  @include nesthub{
                font-size: 48px;
            }
                font-family: $--font-family;
                font-weight: 400;
                font-size: 55px;
                line-height: 127%;
                color: $--nine;
                span{
                    font-weight: 300;
                    
                }
            }
            p{
                font-family: $--second-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: $--eight;
                  @include nesthub{
                padding-right:55px;
            }
            }
            b{
                font-family: $--font-family;
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                color: $--nine;
                @include xs{
                    font-size: 16px;
                }
            }
            ul{
                padding: 0;
                @include flex(column, center, flex-start);
                li a{
                    @include sm{
                        font-size: 18px;
                    }
                    @include xs{
                        font-size: 16px;
                    }
                    font-family: $--font-family;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 150%;
                    color: $--nine;
                    &:hover{
                        color: $--primary;
                        @include transition(0.4s);
                    }
                    span{
                        margin-right: 5px;
                        font-size: 12px;
                        opacity: 0.8;
                    }
                    &:hover{
                        margin-left: 8px;
                    }
                }
                li{
                    span{
                        margin-right: 5px;
                    }
                }
            }
            .list_iteam{
                @include flex(row, space-between, center);
                flex-wrap: wrap;
            }
          }
          .contains_box{
            margin-top: 60px;
            border: 1px solid $--tow;
            padding: 80px 40px 45px 40px;
            position: relative;
            @include flex(column, center, flex-start);
            gap: 30px;
            &:hover{
                img{
                    animation: tada 1s linear infinite;
                }
            }
            h4{
                font-family: $--font-family;
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                color: $--nine;
            }
            p{
                font-family: $--second-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: $--eight;
            }
            img{
                width: fit-content;
                height: fit-content;
                padding: 17px;
                background-color: $--one;
                position: absolute;
                top: -40px;
                left: 40px;
            }
          }
          .summery{
            @include flex(column, center, flex-start);
            gap: 40px;
            p{
                font-family: $--second-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: $--eight;
            }
          }
        }
        .sidebar_contains{
             
            padding: 0px;
            padding-left: 30px;
            @include sm{
                padding: 0px;
            }
            @include nesthub{
                padding: 0px;
                width: 100%;
            }
            @include flex(column, flex-start, flex-end);
            .phn{
                background-color: $--primary;
                padding: 85px;
                @include sm{
                    width: 100%;
                    height: 300px;
                    padding: 0px;
                }
                @include flex(column, center, center);
                width: 100%;
                gap: 20px;
                @include transition(0.4s);
                &:hover{
                    span{
                        animation: tada 1s linear infinite;
                    }
                }
            span{
                    width: 88px;
                    height: 88px;
                    display: block;
                    text-align: center;
                    line-height: 88px;
                    @include border-radius(50%);
                    background-color: #ffffff3a;
                    color: $--white;
                    font-size: 30px;

                }
                a{
                    font-family: $--font-family;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 133%;
                    text-align: center;
                    color:$--white;
                }
                p{
                    font-family: $--font-family;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 150%;
                    text-align: center;
                    color: $--white;
                    // margin-top: 8px;
                }
            }
            .service_list{
                margin-top: 60px ;
                @include flex(column, center, flex-start);
                gap: 20px;
                width: 100%;
                h3{
                    font-family: $--font-family;
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 133%;
                    color: $--nine;
                }
                ul{
                    width: 100%;
                    margin: 0px;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    li{
                        padding:22px 20px;
                        background-color: $--white;
                        border: 1px solid $--tow;
                        a{
                            
                        @include flex(row, space-between, center);
                            font-family: $--font-family;
                            font-weight: 400;
                            font-size: 20px;
                            line-height: 150%;
                            color: $--nine;
                        }
                        &:hover{
                            background-color: $--secondary;
                            @include transition(0.4s);
                        }
                    }
                }
            }
        }
    }
}
/*=========GENERAL SERVICE END ===========*/





