.footer{
    &.style_1{
        margin-top: 0px;
        .footer_area_quick_menu{
            margin-top: 80px !important;
        }
    }
    &{
        @include sm{
            width: 100% !important;
            .footer_area_contact{
                padding: 30px !important;
                gap: 30px !important;
                justify-content: center !important;
                
            }
            .footer_area_quick_menu{
                width: 100% !important;
                padding: 0px 20px !important;
                gap: 50px !important;
            }
            .footer_last{
            
                margin-top: 20px;
                ul{
                    justify-content: flex-start !important;
                    padding: 0px !important;
                    li{
                        &:last-child{
                            display: none;
                        }
                        a{
                            font-size: 14px !important;
                        }
                    }
                }
            }
        }
    }
    margin-top: 247px;
    min-height: 537px;
    max-height: auto;
    background-color: $--nine;
    .container{
        position: relative;
        .footer_area_contact{
            @include md{
                gap: 30px;
            }
            padding:60px;
            width: 100%;
            position:absolute;
            top: -90px;
            left: 0px;
            @include flex(row, space-between, center);
            flex-wrap: wrap;
            background-color: $--seven;
            .footer_contact_widget{
                
                &:hover {
                    span{
                           animation: tada 1s linear infinite;
                           -webkit-animation: tada 1s linear infinite;
}
                }
                @include flex(row, flex-start, center);
                gap: 20px;
                .icon{
                    span{
                            width: 65px ;
                            height: 65px;
                            background-color: $--primary;
                            color: $--white;
                            text-align: center;
                            line-height: 65px;
                            display: block;
                            font-size: 30px;
}
                }
                .text{
                    h5{
                        font-family: $--font-family;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 150%;
                        color: $--white;
                    }
                    a{
                        font-family: $--font-family;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 162%;
                        color: $--white;
                    }
                }
            }
        }
       min-height: 537px;
       max-height: auto;
        @include flex(column, flex-start, center);
        gap:50px;

        .bg_img{
            position: absolute;
            bottom: 0;
            left: -24%;
            img{
                width: 100%;
                object-fit: contain;
                overflow: hidden;
            }
        }

        .footer_area_quick_menu{
            @include sm{
                margin-top: 300px;
            }
            @include flex(row, space-between, center);
            flex-wrap: wrap;
            padding:30px 0px;
            margin-top: 190px;
             .footer_logo{
                z-index: 20;
                            a{
                                width: fit-content;
                                height: fit-content;
                                display: block;
                                cursor: pointer !important;
                                img{
                            width: fit-content;
                            height: 100%;
                            object-fit: contain;
                            z-index: 100;
                            cursor: pointer;
                        }
                            }
                        }
            .iteam_content{
                p{
                    color: $--white;
                    margin: 20px 0px;
                    margin-bottom: 20px;
                }
            }
            .iteam_info ul{
               margin: 0px;
               padding: 0px;
               @include flex(row, flex-start, center);
               gap: 10px;
               li{
                   width: fit-content;
                   a{
                    
                       width:40px;
                       height: 40px;
                       border: 1px solid $--tow;
                       color: $--tow;
                       display: block;
                       text-align: center;
                       line-height: 40px;
                       @include transition(0.4s);
                       &:hover{
                           background-color: $--primary;
                           border: none;
                           color: $--white;
                       }
                   }
                        }

                       
            }
            ul{
                margin: 0px;
                padding: 0px;
                @include flex(column, center, flex-start);
                gap: 30px;
                li{
                    width: 100%;

                    img{
                        width: fit-content;
                        height: 100%;
                        object-fit: contain;
                    }
                    p{
                        font-family: $--font-family;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 162%;
                        color: $--white;
                        opacity: 0.9;
                    }
                    a{
                        font-family: $--font-family;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 162%;
                        color: $--white;
                        opacity: 0.9;
                    }
                    &:hover a{
                        margin-left: 5px;
                        @include transition(.3s);
                        color: $--primary;
                    }
                    
                    input{
                        border: none;
                        outline: none;
                        width: 80%;
                        padding: 10px;
                        background-color: transparent;
                        
                    }
                }
                li.email_sent{
                    width: 312px;
                    height: 66px;
                    border: 1px solid $--eight;
                    @include flex(row, space-between, center);
                    span{
                        width: 20%;
                        a{

                            width: 45px;
                            height: 45px;
                            color: $--white;
                            text-align: center !important;
                            display: block;
                            line-height: 45px;
                            background-color: $--primary;

                        }
                    }


                }
            }
            .quicklink{
                h3{
                    font-family: $--font-family;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 150%;
                        color: $--white;
                        margin-bottom: 30px
                }
                p{
                    font-family: $--font-family;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        color: $--white;
                        margin-top: 30px;
                        margin-bottom: 20px;
                }
                form{
                   border: 1px solid $--tow;
                    @include flex(row, space-between, center);
                    input{
                        width: 85%;
                        padding: 20px;
                     border: none;
                     outline: none;
                     background-color: transparent;
                     &::placeholder{
                        color: $--white;
                     }
                     
                }
                button{
                    width: 15%;
                    height: 100%;
                    padding: 10px;
                    margin: 0px 5px;
                    border: none;
                    background-color: $--primary;
                    color: $--white;
                }
                }
            }
        }

        .footer_last{
            @include md {
                .footer_last_menu{
                    gap:20px;
                    ul{
                        justify-content: flex-start !important;
                        padding: 0;
                        margin-top: 10px;
                    }
                }
            }
            min-height: 44px;
            @include flex(row, space-between, flex-end);
            flex-wrap: wrap;
            border-top: 2px solid $--seven;
            width: 100%;
            a{
                font-family: $--font-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: $--white;
                opacity: 0.8;
                @include transition(0.4s);
                &:hover{
                    color: $--primary;
                    margin-bottom: 5px;
                }
            }
            .footer_last_menu{
                ul{
                    @include flex(row, flex-end, flex-end);
                    margin: 0px;
                    flex-wrap: wrap;
                    padding-bottom: 5px;

                    gap: 40px;
                    li{
                        width: fit-content !important;
                        a{
                            font-size: 16px;
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}