.menu-sidebar-area {
  position: fixed;
  right: -465px;
  top: 0;
  width: 465px;
  height: 100%;
  background-color: #ffffff;
  overflow-y: scroll;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 9999;

  @media (max-width: 560px) {
    width: 350px;
  }

  &.active {
    right: 0;
  }

  .menu-sidebar-logo {
    display: inline-block;
    width: 180px;
  }

  .menu-sidebar-wrapper {
    position: relative;
    padding: 40px;
  }

  .menu-sidebar-close {
    position: absolute;
    top: 0;
    right: 0;

    .menu-sidebar-close-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      height: 45px;
      width: 45px;
      background-color: #D9A14C;
      color: #ffffff;

      &:hover {
        background-color: #D9A14C;
      }
    }
  }

  .menu-sidebar-content {
    .menu-sidebar-single-widget {
      display: inline-block;
      margin-top: 20px;
      width: 100%;

      .menu-sidebar-title {
        margin-bottom: 5px;
      }

      .header-contact-info {
        display: flex;
        align-items: center;
        gap: 0 24px;
        padding: 6px 0;
        flex-wrap: wrap;
        flex-direction: column;

        span {
          display: flex;
          align-items: center;
          gap: 13px;
          color: #26262c;
          font-size: 16px;
          font-weight: 400;
          font-family: "Rubik", sans-serif;
          width: 100%;

          &.contact-info-item {
            gap: 0 10px !important;
          }

          a {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #26262c;
            font-size: 16px;
            font-weight: 400;
            font-family: "Rubik", sans-serif;

            &:hover {
              color: #D9A14C;
            }
          }
        }
      }

      .social-profile {
        margin-top: 20px;
        border-top: 1px solid #dfe2e9;
        width: 100%;
        padding-top: 20px;
        @include flex(row, flex-start, center);
        gap: 10px;
        a {
          color: #26262c;
          font-size: 22px;

          &:hover {
            color: #D9A14C;
          }
        }
      }
    }
  }
}

.body-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    cursor: pointer;
  }
}

.mean-nav{
  display: none;
  @include sm {
    display: block;
  }
  ul{
    padding: 0px;
    li{
       & > span{
        width: 100%;
        display: block;
        padding: 10px 0px;
        transition: all 0.5s ease-in-out;
        display: block;
        list-style: none;
        border-bottom: 1px solid #dfe2e9;
        a
{
             color: #26262c ;
          font-size: 14px;
          text-transform: capitalize;
          line-height: 1.5;
          font-weight: 500;
          }
        @include flex(row, space-between, center);
        span{
          background-color: #D9A14C;
          padding: 5px 10px;
          

        }

      }
      .dropdown{
        display: none;
         
        
      }
      .dropdown.active{
        display: block;
        transition: all 10s ease-in-out !important;
        -webkit-transition: all 10s ease-in-out !important;
        -moz-transition: all 10s ease-in-out !important;
        -ms-transition: all 10s ease-in-out !important;
        -o-transition: all 10s ease-in-out !important;
        ul{
          li{
            padding: 10px 0px;
            border-bottom: 1px solid $--tow;
          }
        }
}
      ul{
        li{
          a{
             color: #26262c ;
          font-size: 14px;
          text-transform: capitalize;
          line-height: 1.5;
          font-weight: 500;
          
          }
        }
      }
    }
  }
}
.mobile-menu-toggle-btn{
  cursor: pointer;
}