
.header-area{
    position: sticky;
    top: 0px;
    background-color: $--white;
    z-index: 10000000;
    .header_menu_wrapper{
        @include flex(row, space-between, center);
        height: 110px !important;
        border-bottom: 1px solid $--tow;
    .logo{
            height: 100%;
            @include flex(row, center, center);
            img{
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
        .main_menu{
            ul{
                @include flex(row, center, center);
                gap: 69px;
                margin: 0;
                
                
                li{
                    a{
                        font-family: $--font-family;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 147%;
                        text-transform: uppercase;
                        color: $--nine;
                        &:hover{
                            color: $--primary;
                        }
                    }
                }
            }
        }
         }
        .btn_wrapper{
        a{
            border: 1px solid $--secondary;
            width: 146px;
            height: 60px;
            display: block;
            text-align: center;
            line-height: 60px;
            color: $--nine;
            font-family: $--font-family;
            font-weight: 400;
            font-size: 15px;
            text-transform: uppercase;

        }
        }
         .mobile-menu-bar{
            padding: 0px 20px;
     }
}