.blog_page_area{
    .container{
       .blog_main_content_wrapper{
        padding-right: 30px;
        @include sm{
            padding-right: 0px !important;
            margin-top: -100px;
        }
        .contains{
            margin-bottom: 80px;
            @include sm{
                width: 100%;
                margin-bottom: 40px;
            }
             .img_part{
            width: 100%;
            height: auto;
            img{
                width: 100%;
                height: fit-content;
            }
        }
        .meta-info {
            
            @include flex(row, space-between, center);
            gap: 15px;
            padding-left: 10px;
            border: 1px solid $--tow;
            border-radius: 5px;
            width: fit-content;
            height: 45px;
            margin: 30px 0px 56px 0px;

            
             span {
                    a{
                         font-family: $--second-family;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 186%;
                    color: $--eight;
                    @include xs{
                     font-size: 10px;
            }
                    i{
                        color: $--primary !important;
                    }
                    }
            } 
            .date{
                height: 100%;
                         p {
                    font-family: $--font-family;
                    font-weight: 400;
                    font-size: 20px;
                    text-align: center;
                    color: $--nine;
                    background-color: $--secondary;
                    height: 100%;
                    padding: 0px 5px;
                    line-height: 40px;
                    width: 100%;
                    @include xs{
                        p{
                            font-size: 12px;
                        }
            }
}
            }

        }
        .gallery_heading{
            @include flex(column, flex-start, flex-start);
            @include sm{
                margin-top: -40px;
            }
            h4{
                font-family: $--font-family;
                font-weight: 400;
                font-size: 55px;
                line-height: 127%;
                color: $--nine;
                margin-bottom: 5px;
                @include sm{
                    font-size: 26px;
                }
            }
        }
        .button_all{
            .commn_btn{
                background-color: $--primary;
                color: $--white;
                &:hover{
                    background-color: $--white;
                    color: $--nine;
                    
                }
            }
        }
        }
        .michal_doe{
            @include flex(column, center, flex-start);
            background-color: $--one;
            padding: 60px;
            p{
                font-family: $--second-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: $--eight;
                margin-bottom: 28px;

            }
            img{
                width: fit-content;
                height: fit-content;
                object-fit: contain;
            }
            .border{
                background-color: $--primary;
                width: 135px;
                height: 3px;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
        .article{
            margin-top: 60px;
            p{
                font-family: $--second-family;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: $--eight;
                margin-bottom: 20px;
            }
              ul{
                padding: 0;
                @include flex(column, center, flex-start);
                li a{
                    font-family: $--font-family;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 150%;
                    color: $--nine;
                    @include sm{
                        font-size: 16px;

                    }
                    span{
                        margin-right: 5px;
                        font-size: 12px;
                        opacity: 0.8;
                    }
                }
            }
        }
        .previous_next{
            margin-top: 60px;
            @include flex(row, space-between, center);
            border-top: 1px solid $--tow;
            border-bottom: 1px solid $--tow;
            padding: 20px 0px;
            .prv{
                p{
                    font-family: $--second-family;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 162%;
                    color: $--eight;
                    display: inline;
                }
                span{
                    color: $--primary;
                }
            }
        }
       }
       .blog_sidebar_content_wrapper{
        border: 1px solid $--tow;
        height: fit-content;
        padding: 0px 30px;
        .blog_page_search{
            @include flex(column, center, flex-start);
            gap: 20px;
            margin-top: 60px;
            .blog_page_search_box{
                @include flex(row, space-between, center);
                border: 1px solid $--tow;
                padding: 0px 10px;
                width:  100%;
                height: 58px;
                input{
                    width: 90%;
                    height: 100%;
                    border: none;
                    outline: none;

                }
                span{
                    color: $--primary;
                    width: 10%;
                    font-family: $--third-family;
                    font-weight: 900;
                    font-size: 14px;
                    color: $--primary;
                    cursor: pointer;
                    height: 100%;
                    text-align: center;
                    line-height: 58px;
                }
            }
        }
        h5{
            font-family: $--font-family;
            font-weight: 500;
            font-size: 30px;
            line-height: 133%;
            color: $--nine;
            position: relative;
            display: inline;
            margin-bottom: 10px;
            &::after{
                content:" ";
                position: absolute;
                top: 50%;
                @include transformY(50%);
                right: -60px;
                width: 50px;
                height: 1px;
                background-color: $--primary;
            }
        }
        .blog_page_category{
            @include flex(column, flex-start, flex-start);
            gap: 20px;
            margin-top: 60px;
            ul{
                padding: 0;
                width: 100%;
                li{
                    padding: 15px 5px;
                    border-bottom: 1px solid $--tow;
                    
                    a{
                        @include flex(row, space-between, flex-start);
                        font-family: $--font-family;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 150%;
                        color: $--nine;
                        @include nesthub{
                            font-size: 18px;
                        }
                    }
                    &:hover{
                        a{
                            margin-left: 5px;
                            color: $--secondary;
                            span{
                                color: $--secondary;
                                @include transition(0.4s);
                            }
                        }
                    }
                }

            }
        }
        .latest_blog{
            @include flex(column, flex-start, flex-start);
            gap: 20px;
            margin-top: 60px;
            .latest_blog_bar{
                height: 134px;
                width: 100%;
                border: 1px solid $--tow;
                @include flex(row, space-between, flex-start);
                .latest_blog_img{
                    width: 60px;
                    height: auto;
                    img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                }
                .latest_blog_title{
                    padding: 26px 20px;
                    height: 100%;
                    width: 100%;
                    p{
                        font-family: $--second-family;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 162%;
                        color: $--eight;
                        span{
                            color: $--secondary;
                            margin-right: 5px;
                        }
                    }
                    a{
                        font-family: $--font-family;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 150%;
                        color: $--nine;
                        width: 200px;
                        margin-top: 5px;
                        @include nesthub{
                            font-size: 16px;
                        }
                        &:hover{
                            color: $--primary;
                        }
                    }
                }
            }
        }
        .blog_page_tag{
            margin-top: 60px;
            
            ul{
                padding: 0px;
                margin-top: 30px;
                @include flex(row, flex-start, center);
                gap: 25px;
                flex-wrap: wrap;

                li{
                    a{
                        font-family: $--second-family;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 162%;
                        color: $--eight;
                        padding: 5px 10px;
                        border: 1px solid $--tow;
                        @include border-radius(5px);

                    }
                    &:hover a{
                        background-color: $--primary;
                        color: $--white;
                        border: none;
                        @include transition(0.4s);
                    }
                }
            }
        }
       }
    }
}