
.comment_box_wrapper{
        .comment_box_area{
            box-shadow: 0 5px 60px 0 rgba(0, 0, 0, 0.05);
            background: $--white;
            padding: 80px;
            @include sm{
                    padding: 10px;
                }
            @include flex(row, space-between, center);
            flex-wrap: wrap;
            
            .comment_box_img{
                width: 100%;
                height: 100%;
                @include sm{
                    padding: 50px;
                }
                @include nesthub{
                    padding: 50px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .comment_box{
                 @include nesthub{
                    padding: 30px;
                }
                display: flex;
                justify-content: flex-end;
                .commn_btn{
                    &:hover{
                       span i{
                            transform: rotate(0deg) !important;
                            -webkit-transform: rotate(0deg) !important;
                            -moz-transform: rotate(0deg) !important;
                            -ms-transform: rotate(0deg) !important;
                            -o-transform: rotate(0deg) !important;
}
                    }
                }
            }
        }
    }



.contact_area_widget{
    margin: 100px 0px;
    &{
        @include sm {
            .contact_info_wrapper{
                gap: 20px;
                padding: 0px 20px;
                margin-left: 10px;

            }
        }
    }
}
        .contact_info_wrapper{
            @include md{
                gap: 30px !important;
                
            }
            @include sm{
                gap: 30px !important;
                
            }
            @include flex(row, space-between, center);
            flex-wrap: wrap;
            width: 100%;
            &.style_1{
                margin-top: 120px;
                .contact_info{
                    margin-left: 20px;
                    width: 90%;
                    background-color: $--seven;
                    border: 1px solid rgba(204, 204, 204, 0.5);
                    h5, a{
                        color: $--white;
                    }
                }
            }

            .contact_contains_1{
                @include flex(row, center, center);
                
            }
            .contact_contains_2{
                @include flex(row, flex-end, center);
            }
            .contact_info{
                background-color: $--white;
                border: 1px solid $--tow;
                width: 377px;
                height: 125px;
                @include flex(column, center, flex-start);
                gap: 5px;
                padding-left: 68px;
                position: relative;
                h5{
                    font-family: $--font-family;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 150%;
                    color: $--nine;
                }
                
                a{   
                    &:nth-child(1){
                        color: $--nine;
                    }
                    font-family: $--second-family;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 162%;
                    color:$--eight;
                }
                span{
                    width: 65px;
                    height: 65px;
                    background-color: $--secondary;
                    text-align: center;
                    line-height: 65px;
                    position: absolute;
                    top: 50%;
                    @include transformY(-50%);
                    left: -30px;
                    font-size: 30px;

                }
                &:hover{
                    span i{
                        animation: tada 1s linear infinite;
                    }
                }
            }
        }
    
 .contact_info_wrapper{
            gap: 0px;
            justify-content: space-between !important;
        }

#maps{
    margin-top: 100px;
}